# VSCode settings
settings.json
.vscode/
.idea/

# python
__pycache__/
.pytest_cache/
luacov*

*.swp
*DS_Store

# nmea2000 generated lua files
maritime-modules/knownids/pgn*.lua
maritime-modules/proto/pgn/pgn*.lua
